<header class="site-head">
    <div class="vertical">
        <div class="site-head-content inner">
            <div class="left">
                <div class="blog-cover" style="background-image: url('http://placehold.it/930x930')">Blog Cover Image</div>
            </div>
            <div class="right">
                <h1 class="blog-title">{{ site.title }}</h1>
                <div class="blog-social">
                     <a href="http://www.twitter.com/ControlCfm"><i class="fa fa-twitter"></i></a>
                     <a href="http://www.github.com/cbeck527/controlc.fm"><i class="fa fa-github"></i></a>
                </div>
                <h2 class="blog-description">{{ site.description }}</h2>
                <div class="head-links">
                    {% if page.is_home == 'true' %}{% else %}<a href="/">Home</a> · {% endif %}<a href="/about">About</a> · <a href="/episodes/">Episodes</a> · <a href="mailto:feedback@controlc.fm">Email Us</a>
                </div>
            </div>
        </div>
    </div>
</header>

